#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-O1
currLang = $(shell echo ${LANG})
export CPPFLAGS := "-DNDEBUG"
export GOCACHE=/tmp/.cache/go-build
export HOME = $(CURDIR)

%:
	dh $@

override_dh_auto_build:
	mkdir /tmp/.cache/go-build; export GOCACHE=/tmp/.cache/go-build
	make linux-package

override_dh_auto_test:
	echo "building..."

override_dh_install:
	install -m0755 -d debian/kitty/usr
	cp -a linux-package/* debian/kitty/usr
	rm -rf /.cache
